.Login {
   text-align: left;
   color: #272822;
   font-size: 1.2em;
}

.Login h2 {
   margin-bottom: 7vh;
   text-align: center;
   font-size: 2em;
   font-weight: bold;
}

.Login button {
   margin-top: 1vh;
}

.Login .jumbotron {
   width: 60vw;
   margin: 15vh 20vw;
}

@media(max-width: 810px){
   .Login .jumbotron {
      width: 90vw;
      margin: 15vh 5vw;
   }
}