.RoomThumbnail {
   width: 25%;
   margin: 5vh 4%;
   flex: inherit;
}

.FullRoom {
   font-weight: bold;
   color: #dc3545;
}

@media(max-width: 810px){
   .RoomThumbnail {
      width: 40%;
      margin: 5vh 5%;
   }
}