.Hamburger {
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 10;
   width: 12vh;
   height: 12vh;
   padding: 4vw;
   margin-right: 2vw;
   box-sizing: border-box;
   border-radius: 0px 8px;
   background-color: #272822;
}

.InsideHamburger {
   background-color: inherit;
}

.Hamburger div {
   width: 90%;
   height: 3px;
   background-color: white;
}

@media (min-width: 811px) {
   .Hamburger {
       display: none;
   }
}