.ChatRoom {
   display: flex;
}

.ChatRoom main {
   height: calc(100vh - (1.5em + .75rem + 2px));
   margin-bottom: calc(1.5em + .75rem + .375rem + .375rem + 2px);
   overflow-y: auto;
   overflow-x: hidden;
}

@media(max-width: 810px){
   .ChatRoom main {
      height: calc(89vh - (1.5em + .75rem + 2px));
      padding-top: 11vh;
   }

   .ChatRoom main > button {
      display: none;
   }
}