.ChatRoom {
   display: flex;
}

.ChatRoom section {
   height: 100vh;
}

.ChatRoom main {
   height: calc(100vh - (1.5em + .75rem + 2px));
   margin-bottom: calc(1.5em + .75rem + .375rem + .375rem + 2px);
   overflow-y: auto;
   overflow-x: hidden;
}

.ChatRoom section {
   width: 20vw;
   background-color: rgb(66, 55, 55);
}