.ChatRoom {
   display: flex;
}

.ChatRoom h2 {
   padding-top: 2vh;
}

.ChatRoom main {
   height: calc(100vh - (1.5em + .75rem + 2px));
   margin-bottom: calc(1.5em + .75rem + .375rem + .375rem + 2px);
   overflow-y: auto;
   overflow-x: hidden;
}

@media(max-width: 810px){
   .ChatRoom h2 {
      padding: 0 2vw;
   }

   .ChatRoom main {
      padding-top: 12vh;
   }

   .ChatRoom main > button {
      display: none;
   }
}